@{
    ViewData["Title"] = "Diş Kliniği Yönetim Sistemi";
}

<div class="container">
    <h1 class="display-4">Diş Kliniği Yönetim Sistemi'ne Hoşgeldiniz!</h1>
    <p>Bu sistem, klinik sekreterlerinin randevu yönetimi, hasta kayıtları ve envanter takibi gibi işlemleri kolayca yapmalarını sağlar.</p>
    <img src="~/images/clinic-office.jpg" alt="Klinik Ofisi" class="img-fluid my-3" />
 
</div>
